<footer id="footer" class="footer section">
  <div class="container">
    <div class="footer-box">
      <div class="footer-information">
        <a href="/index.html" class="logotype-footer">Stryzhavchuk<span class="footer-studio">Studio</span></a>
        <p class="footer-info">Certified Esthetician</p>
      </div>

      <div class="footer-icons">
        <p class="footer-social-title">Social media</p>
        <ul class="footer-social-icons-list">
          <li class="footer-social-icon-item">
            <a href="https://www.instagram.com/nika.stryzhavchuk?igsh=dmwyZ3d2OWV6ZWpr" class="footer-social-icon-item-link" target="_blank" rel="noopener">
              <svg class="icons" width="24" height="24"><use href="/images/icons.svg#instagram"></use></svg>
            </a>
          </li>
          <li class="footer-social-icon-item">
            <a href="https://www.facebook.com/share/16rCLuuHWe/?mibextid=wwXIfr" class="footer-social-icon-item-link" target="_blank" rel="noopener">
              <svg class="icons" width="24" height="24"><use href="/images/icons.svg#facebook"></use></svg>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <div class="input-footer">
      <p class="input-title-footer">Subscribe</p>
      <form class="footer-form">
        <label class="label-footer">
          <input class="input-area-footer" type="email" name="subscribe-mail" placeholder="E-mail" />
        </label>
        <button class="footer-btn" type="submit">
          Subscribe
          <svg class="footer-icon-btn" width="24" height="24"><use href="/images/icons.svg#telegram"></use></svg>
        </button>
      </form>
    </div>
  </div>
</footer>
